@mixin card-6-base() {
    @include card-name("C6 mobile");

    .c-cards-view {
        border-bottom: 1px solid $grey4;
        margin-bottom: 15px;
        padding-bottom: 15px;
        min-height: 102px;

        &__media {
            @include size(96px);
            order: 2;
        }

        &__container {
            flex: 1;
        }

        &__category {
            margin-bottom: 15px;
        }

        &__heading {
            font-family: var(--sec-font);
            color: $black;
            font-weight: $weightRegular;
            @include font-size(20);
            line-height: 1.2;
            overflow: hidden;
            height: 48px;
            max-height: inherit;
            padding-right: 30px;
            
        }

        &__description{
            display: none
        }

        &__author {
            margin-top: 5px;
            &-name {
                font-family: var(--sec-font);
                @include font-size(14);
                font-weight: $weightBold;
                font-style: italic;
                color: $grey3;
                position: relative;
                padding-left: 45px;

                &:before {
                    content:'';
                    width: 30px;
                    background-color: #535353;
                    height: 0.5px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include translate(0,-50%);
                }
            }
        }

        &.without-image {
            .c-cards-view {
                @include flex-direction(column, vertical);
                &__heading {
                    height: 48px;
                    max-height: inherit;
                }
            }
        }
    }
}


.card-6-mobile {
    @media #{$mobile} {
        @include card-6-base();
    }
}


.card-6-tablet {

    @media #{$tablet} {
        
        @include card-6-base();
        @include card-name("C6 tablet");
        // .c-cards-view {

        //     &__container {
        //         width: auto;
        //     margin-left: 14px;
        //     }
        // }
    }
}


.card-6-desktop {

    @media #{$desktop-up} {

        @include card-6-base();
        @include card-name("C6 desktop");

        .c-cards-view {
            &__author {
                &-name {
                    padding-left: 65px;
    
                    &:before {
                        width: 50px;
                    }
                }
            }
        }
    }
}
