@mixin card-2-base() {
    @include card-name("C2 mobile");

    .c-cards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        &__category {}

        &__media {
            height: 56.25vw;
            min-height: 145px;
            margin-bottom: 20px;
        }

        &__category {
            margin-bottom: 20px;
        }

        &__heading {
            font-family: var(--sec-font);
            color: $black;
            font-weight: $weightBold;
            @include font-size(26);
            line-height: 1.26;
            overflow: hidden;
            max-height: 66px;
        }

        &__description{
            @include font-size(16);
            font-family: var(--main-font);
            line-height: 1.5;
            color: $grey3;
            font-weight: $weightLight;
        }
    }
}



.card-2-mobile {
    @media #{$mobile} {
        @include card-2-base();
    }
}


.card-2-tablet {

    @media #{$tablet} {

        @include card-2-base();
        @include card-name("C2 tablet");
    }
}


@mixin card-2-desktop-base {
    @include card-2-base();
    @include card-name("C2 desktop");

    .c-cards-view {
        &__media {
            height: 400px;
        }
        &__heading {
            @include font-size(38);
            line-height: 1.26;
            max-height: 96px;
        }
    }
}

.card-2-desktop {
    
    @media #{$desktop-up} {
        @include card-2-desktop-base();
    }
}