@mixin card-4-base() {
    @include card-name("C4 mobile");

    .c-cards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        margin-bottom: 20px;
        padding-bottom: 20px;
        min-height: 220px;

        &__media {
            height: 55vw;
            min-height: 145px;
            margin-bottom: 20px;
        }

        &__category {
            margin-bottom: 10px;
        }

        &__heading {
            font-family: var(--main-font);
            color: $black;
            font-weight: $weightBold;
            @include font-size(20);
            line-height: 1.09;
            overflow: hidden;
        }

        &__author {
            margin-top: 15px;
            &-name {
                font-family: var(--sec-font);
                @include font-size(14);
                font-weight: $weightBold;
                font-style: italic;
                color: $grey10;
                position: relative;
            }
        }

        &__description{
            display: none
        }

        &.without-image {
            background-color: $white;
            .c-cards-view {
                &__container {
                    flex: 1;
                    @include flexbox;
                    @include flex-direction(column,vertical);
                }

                &__heading {
                    max-height: inherit;
                    flex: 1;
                }
            }
        }
    }
}


.card-4-mobile {
    @media #{$mobile} {
        @include card-4-base();
    }
}




.card-4-mobile {
    @media #{$mobile} {
        @include card-4-base();
    }
}


.card-4-tablet {

    @media #{$tablet} {
        @include card-4-base();
        @include card-name("C4 tablet");

        .c-cards-view {
            min-height: 300px;

            &__media {
                height: 160px;
            }
        }
    }
}


@mixin card-4-desktop-base {
    @include card-4-base();
    @include card-name("C4 desktop");

    .c-cards-view {
        min-height: 329px;
        &__media {
            height: 160px;
        }
        &__heading {
            @include font-size(22);
            line-height: 1.2;
            height: 81px;
        }
    }
}

.card-4-desktop {
    @media #{$desktop-up} {
        @include flexbox;
        height: 100%;
        @include card-4-desktop-base();
    }
}