@mixin card-2-base() {
    @include card-name("C2 mobile");

    .c-cards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        border-bottom: 1px solid $black;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &__media {
            height: 56.25vw;
            min-height: 145px;
            margin-bottom: 20px;
        }

        &__category {
            margin-bottom: 20px;
        }

        &__author {
            margin-top: 5px;
            &-name {
                font-family: var(--sec-font);
                @include font-size(14);
                font-weight: $weightBold;
                font-style: italic;
                color: $grey3;
                position: relative;
                padding-left: 45px;

                &:before {
                    content:'';
                    width: 30px;
                    background-color: #535353;
                    height: 0.5px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include translate(0,-50%);
                }
            }
        }

        &__heading {
            font-family: var(--sec-font);
            color: $black;
            font-weight: $weightBold;
            @include font-size(26);
            line-height: 1.26;
            overflow: hidden;
            max-height: 66px;
        }

        &__description{
            @include font-size(16);
            font-family: var(--main-font);
            line-height: 1.5;
            color: $grey3;
            font-weight: $weightLight;
        }
    }
}



.card-2-mobile {
    @media #{$mobile} {
        @include card-2-base();
    }
}


.card-2-tablet {

    @media #{$tablet} {

        @include card-2-base();
        @include card-name("C2 tablet");
    }
}


@mixin card-2-desktop-base {
    @include card-2-base();
    @include card-name("C2 desktop");

    .c-cards-view {
        &__media {
            height: 420px;
        }

        &__author {
            &-name {
                padding-left: 65px;

                &:before {
                    width: 50px;
                }
            }
        }
        &__heading {
            @include font-size(38);
            line-height: 1.26;
            max-height: 96px;
        }
    }
}

.card-2-desktop {
    
    @media #{$desktop-up} {
        @include card-2-desktop-base();
    }
}