@mixin card-property-base() {
    @include card-name("C3 mobile");

    .c-cards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        border-bottom: 1px solid $black;
        margin-bottom: 20px;
        padding-bottom: 20px;
        min-height: 220px;

        &__media {
            height: 55vw;
            min-height: 186px;
            margin-bottom: 20px;
        }

        &__category {
            margin-bottom: 10px;
        }

        &__heading {
            font-family: var(--sec-font);
            color: $black;
            font-weight: $weightRegular;
            @include font-size(20);
            line-height: 1.09;
            overflow: hidden;
        }

        &__author {
            margin-top: 15px;
            &-name {
                font-family: var(--sec-font);
                @include font-size(14);
                font-weight: $weightBold;
                font-style: italic;
                color: $grey10;
                position: relative;
            }
        }

        &__description{
            @include font-size(16);
            line-height: 1.5;
            color: $grey10;
            height: 50px;
            overflow: hidden;
            margin-bottom: 8px;
        }

        &__additional-info {
            @include flexbox;
            @include flex-direction(column,vertical);
            @include align-items(flex-start);
            margin-bottom: 10px;

            &__features {
                @include flexbox;
                @include align-items(center);

                &-list {
                    margin-left: 0;
                    @include flexbox;
                    @include align-items(center);
                    margin-right: 15px;

                    .text {
                        margin-left: 6px;
                        @include font-size(16);
                        line-height: 1.5;
                        color: $black;
                    }
                }
            }

            &__icon--fill {
                svg, svg * {
                    fill: var(--sec-color) !important;
                }
            }

            &__price {
                @include font-size(18);
                letter-spacing: 0.9px;
                color: $black;
                margin-top: 5px;
                font-weight: $weightRegular;
                font-family: $primaryFont;
            }
        }

        &.without-image {
            background-color: $white;
            .c-cards-view {
                &__container {
                    background-color: $black;
                    flex: 1;
                    padding: 20px 16px 18px;
                    @include flexbox;
                    @include flex-direction(column,vertical);
                }

                &__heading {
                    max-height: inherit;
                    flex: 1;
                }

                &__category,
                &__heading,
                &__author-name {
                    color: $white;
                }
            }
        }
    }
}


.card-property-mobile {
    @media #{$mobile} {
        @include card-property-base();
    }
}




.card-property-mobile {
    @media #{$mobile} {
        @include card-property-base();
    }
}


.card-property-tablet {

    @media #{$tablet} {
        @include card-property-base();
        @include card-name("C3 tablet");

        .c-cards-view {
            min-height: 423px;

            &__media {
                height: 186px;
            }
        }
    }
}


@mixin card-property-desktop-base {
    @include card-property-base();
    @include card-name("C3 desktop");

    .c-cards-view {
        &__media {
            height: 186px;
        }
        &__heading {
            @include font-size(22);
            line-height: 1.09;
            height: 75px;
        }
    }
}

.card-property-desktop {
    @media #{$desktop-up} {
        @include flexbox;
        height: 100%;
        @include card-property-desktop-base();

        &.card-property-highlighter {
            .c-cards-view {
                &__media {
                    height: 450px;
                }
                &__heading {
                    @include font-size(32);
                    line-height: 1.25;
                    font-weight: $weightBold;
                }

                &__additional-info {
                    @include flex-direction(row,horizontal);
                    @include align-items(center);
                }
            }
        }
    }
}