@mixin card-7-base() {
    @include card-name("C7 mobile");

    .c-cards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        margin-bottom: 20px;

        &__media {
            display: none;
        }

        &__category {
            margin-bottom: 10px;
        }

        &__heading {
            font-family: var(--main-font);
            color: $black;
            font-weight: $weightBold;
            @include font-size(18);
            line-height: 1.33;
            overflow: hidden;
            height: 48px;

        }

        &__author {
            margin-top: 15px;
            &-name {
                font-family: var(--sec-font);
                @include font-size(14);
                font-weight: $weightBold;
                font-style: italic;
                color: $grey3;
                position: relative;
                padding-left: 45px;

                &:before {
                    content:'';
                    width: 30px;
                    background-color: #535353;
                    height: 0.5px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include translate(0,-50%);
                }
            }
        }

        &__description{
            display: none
        }

        &.without-image {
            background-color: $white;
        }
    }
}


.card-7-mobile {
    @media #{$mobile} {
        @include card-7-base();
    }
}




.card-7-mobile {
    @media #{$mobile} {
        @include card-7-base();
    }
}


.card-7-tablet {

    @media #{$tablet} {
        @include card-7-base();
        @include card-name("C7 tablet");
    }
}


@mixin card-7-desktop-base {
    @include card-7-base();
    @include card-name("C7 desktop");
}

.card-7-desktop {
    @media #{$desktop-up} {
        @include flexbox;
        height: 100%;
        @include card-7-desktop-base();

        .c-cards-view {
            &__author {
                &-name {
                    padding-left: 65px;
    
                    &:before {
                        width: 50px;
                    }
                }
            }
        }
    }
}