@mixin base-event-card {
    .c-eventcards-view {
        @include flexbox;
        @include flex-direction(column,vertical);

        &__date {
            @include flexbox;
            @include align-items(center);
            min-width: 140px;

            &-value {
                @include size(40px);
                background-color: $black;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                font-weight: $weightBold;
                font-family: var(--sec-font);
                @include font-size(24);
                color: $white;
                line-height: 1.23;
                font-style: italic;
            }

            &-label {
                font-weight: $weightBold;
                font-family: var(--sec-font);
                @include font-size(16);
                line-height: 1.5;
                font-style: italic;
                color: $black;
                margin-left: 10px;
            }
        }

        &__conditionalImage {
            @include size(96px);
        }
    }
}

.event-card-1-mobile  {
    
    @media #{$mobile} {
        @include base-event-card();
    }
    > a {
        text-decoration: none;
    }
}
@mixin base-event-card-tablet() {
    @include base-event-card();
    
    .c-eventcards-view {
        @include flexbox;
        @include flex-direction(row,horizontal);
    }
}

.event-card-1-tablet {
    @media #{$tablet} {
        @include base-event-card-tablet();
        @include card-name("event1 tablet");
    }
}
.event-card-1-desktop {
    @media #{$desktop-up} {
        @include base-event-card-tablet();
        @include card-name("event1 desktop");

    }
}
