@mixin base-event-card {
    .c-eventcards-view {
        @include flexbox;
        @include flex-direction(column,vertical);
        border-bottom: 1px solid $grey4;
        padding-bottom: 20px;
        margin-bottom: 20px;
        min-height: 120px;

        &__category {
            @include font-size(13);
            line-height: 1.23;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $blue2;
            font-weight: $weightBold;
       }


        &__date {
            @include flexbox;
            @include align-items(center);
            min-width: 150px;
            &-additionalInfo {
                margin-left: 10px;
                @include flexbox;
                @include flex-direction(column,vertical);
            }
            &-value {
                @include size(40px);
                background-color: $black;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                font-weight: $weightBold;
                font-family: var(--sec-font);
                @include font-size(24);
                color: $white;
                line-height: 1.23;
                font-style: italic;
            }
            

            &-label {
                font-weight: $weightBold;
                font-family: var(--sec-font);
                @include font-size(16);
                line-height: 1.5;
                font-style: italic;
                color: $black;
            }
        }

        &__container {
            @include flexbox;
            flex: 1;
        }

        &__info {
            flex: 1;
            margin-top: 15px;
        }

        &__heading {
            @include font-size(20);
            line-height: 1.2;
            color: $black;
            font-family: var(--sec-font);
            margin-top: 10px;
            height: 50px;
        }

        &__conditionalImage {
            @include size(96px);
        }
    }
}

.event-card-1-mobile  {
    
    @media #{$mobile} {
        @include base-event-card();
    }
    > a {
        text-decoration: none;
    }
}
@mixin base-event-card-tablet() {
    @include base-event-card();
    
    .c-eventcards-view {
        @include flexbox;
        @include flex-direction(row,horizontal);
    }
}

.event-card-1-tablet {
    @media #{$tablet} {
        @include base-event-card-tablet();
        @include card-name("event1 tablet");
    }
}
.event-card-1-desktop {
    @media #{$desktop-up} {
        @include base-event-card-tablet();
        @include card-name("event1 desktop");

    }
}
