{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="04">
    <div class="col-12">
        <div class="c-page-head c-page-head--d1 c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <div class="c-page-head__link"><a class="text" href="{{link}}">View all</a></div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            {% for i in 0..3 if articles[articleCount] %}
                <div class="col-12 col-lg-3">
                    {{this.render('../_single-article.twig', {
                    article: articles[articleCount],
                    position: (articleCount+1),
                    imageSize: {width: 255, height: 276},
                    containerClass: "card-3-mobile card-3-tablet card-3-desktop",
                    timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    