{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="12">
    <div class="col-12">
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            <a href="{{link}}" class="c-page-head__link">View all issues</a>
        </div>
    </div>
</div>


<div class="row">
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-12">
            {{this.render('../_single-article.twig', {
                article: articles[articleCount], 
                position: (articleCount+1),
                containerClass: "card-8-mobile card-8-tablet card-8-desktop",
                imageSize: {width: 95, height: 130},
                template: 'feature',
                url: altUrls[0] is defined ? networkData.defaultBlogUrl ~ altUrls[0] : ''
            }) | raw}}
            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        </div>
    {% endfor %}
</div>