{% set articleCount = 0 %}
{% set eventCount = 0 %}
{% set cardIndex = 0 %}

<div class="container u-margin-top-30 u-desktop-margin-top-40">
    <div class="row" data-section="02">
        <div class="col-12">
            <div class="c-page-head c-page-head--d1 c-page-head-xs">
                <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
                <div class="c-page-head__link"><a class="text" href="{{link}}">View all stories</a></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-5">
            <div class="home_slider owl-carousel">
                {% for i in 0..6 if articles[articleCount] %}
                    <div class="item">
                        {{this.render('../_single-article.twig', {
                        article: articles[articleCount],
                        position: (articleCount+1),
                        imageSize: {width: 255, height: 304},
                        containerClass: "card-4-mobile card-4-tablet card-4-desktop",
                        timeSuppress: timeSuppress
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>