/* Begin page head style */
.c-search {
    &__head {
        @include font-size(26);
        color: $black;
        line-height: 1.23;
        @include margin-bottom(30);
        font-family: var(--sec-font);
        font-style: italic;
        font-weight: $weightBold;
    }
}

/* End page head style */