/* section page  style */

.c-section__first-container {
    .card-3-mobile, .card-7-mobile {
        height: inherit;

        .c-cards-view {
            height: inherit;
        }
    }

    .card-7-mobile + .card-7-mobile {
        .c-cards-view {
            border: none;
        }
    }
}

.c-section-panel__background {
    @include padding(50 0);
    background: $black;

    .c-page-head {
        .u-heading__large {
            color: $white;
        }

        &__link {
            color: $white;
        }
    }

    @media #{$desktop-up} {
        @include margin(30 0 0 0);
    }
}

/* End section page  style */