.c-error {
    min-height: 400px;
    margin: 70px 0;
    text-align: center;

    &__title {
        margin: 20px 0 40px;
        @include font-size(25);
        line-height:  1.26;
        color: $black;
        font-family: $secondaryFont;
        font-weight: $weightBold;
    }
    .c-error__button {
        @include border-radius(6px);
    }
}