/* section page  style */

.c-section-panel__background {
    @include padding(50 0);
    background: $black;

    .c-page-head {
        .u-heading__large {
            color: $white;
        }

        &__link {
            color: $white;
        }
    }

    @media #{$desktop-up} {
        @include margin(30 0 0 0);
    }
}

/* End section page  style */