.c-searchBar {
    position: absolute;
    background: $white;
    width: 100%;
    height: 50px;
    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);
    left: 0;
    top: 0;
    transition: all 0.5s ease;
    z-index: 99;
    opacity: 0;
    visibility: hidden;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        flex: 1;
    }

    &__close {
        border-left: 1px solid $grey4;
        cursor: pointer;
        padding-left: 20px;
    }

    &__form {
        @include flexbox;
    }

    &__input {
        flex: 1;
        color: $black;
        font-family: $primaryFont;
        font-weight: $weightLight;
        border: none;
        outline: none;

        &:placeholder {
            color: $grey4;
            font-family: $primaryFont;
            font-weight: $weightLight;
        }
    }

    &__submit {
        margin-right: 20px;
    }
}