.c-header {
    margin-bottom: 45px;
  
    &__main {
      border-bottom: 1px solid $grey4;
      padding: 20px 0;
      &__container {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
      }
    }
  }