.c-eventdetail {
    margin-top: -20px;

    &__topBar {
        padding: 15px 0;
        border-bottom: 1px solid $grey4;
    }

    &__category {
        color: $grey3;
        font-weight: $weightBold;
        @include font-size(12);
        letter-spacing: 0.87px;
        line-height: 1.25;
        text-transform: uppercase;
        @include margin-bottom(8);
        text-decoration: none;
    }

    &__title {
        @include font-size(50);
        font-family: var(--sec-font);
        line-height: 1.16;
        color: $black;
        margin-top: 14px;
    }

    &__figure {
        background-color: #f6f5f5;
        height: 420px;

        img {
            max-width: 100%;
            margin: auto;
            display: block;
            width: auto !important;
            height: 100%;
            object-fit: cover;  
        }
    }
    &__main-content {
        margin-top: 40px;
    }
    &__content {
        border-left: 1px solid $grey4;
        height: 100%;
        padding-left: 30px;
        > p:first-child {
            display: block;
        }
    }

    &__container {
        margin-top: 50px;
    }

    &__address {
        margin-top: 50px;
    }

    &__info {
        &-item {
            margin-bottom: 15px;
        }
        &-text {
            @include font-size(16);
            font-family: var(--sec-font);
            color: $black;
            font-style: italic;
            font-weight: $weightBold;
            line-height: 1.5;

            &.small {
                display: block;
                @include font-size(14);
                line-height: 1.14;
                font-family: var(--main-font);
                font-weight: $weightRegular;
                font-style: normal;
                margin-top: 4px;
            }
        }
    }
}