/* Begin header style */

.c-button {
    position:relative;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0 16px;
    display: inline-block;
    border: 2px solid $transparent;
    @include font-size(13);
    line-height: 2.8;
    letter-spacing: 1.4px;
    font-weight: $weightMedium;
    @include transition(all 0.3s ease);
    min-width: 120px;
    text-align: center;
    height: 40px;
    text-decoration: none;
    // @include flexbox();
    // @include align-items(center);
    // @include justify-content(center);
    text-transform: uppercase;

    &--background-white{
        background-color: white;
    }
    
    &-block {
        width: $viewportSize;
        display: block;
    }

    &--inline {
        display:inline-block;
    }

    &--rounded {
        @include border-radius(25px);
    }

    &--radius {
        @include border-radius(4px);
    }

    &--spinner {
        color:white !important;
    }
    &--black {
        background-color: $black;
        border-color: $black;
        color: $white;
    
        &-bordered {
          border-color: $black;
          color: $black;
        }
    }

    &--sitePrimaryClr {
        color: $white;
        border-color: var(--sec-color);
        background-color: var(--sec-color);
    }

    &--lightBlue {
        color: $white;
        border-color: #5748f6;
        background-color: #5748f6;

        &-bordered {
            color: #5748f6;
            border-color: #5748f6;
            background-color: transparent;
        }
    }

    &--mainThemeClr {
        color: $white;
        border-color: $mainColor;
        background-color: $mainColor;

        &-bordered {
            color: $mainColor;
            border-color: $mainColor;
            background-color: transparent;
        }
    }

    &--white {
        color: $black;
        border-color: $white;
        background-color: $white;

        &:hover {
            color: $black;
            border-color: $white;
            background-color: $white;
        }

        &-bordered {
            color: $white;
            border-color: $white;
            background-color: transparent;

            &:hover {
                color: $black;
                border-color: $white;
                background-color: $white;
            }
        }
    }

    &--blue {
        background-color: $mainColor;
        border-color: $mainColor;
        background-color: $mainColor;
        border-color: $mainColor;
        color: $white;

        &:hover {
            background-color: $mainColor;
            border-color: $mainColor;
            background-color: lightness( $mainColor, 0.82);
            border-color: lightness( $mainColor, 0.82);
            color: $white;
        }

        &-bordered {
            border-color:  $mainColor;
            color: $mainColor;

            &:hover {
                color: $white;
                background-color: lightness( $mainColor, 0.82);
                border-color: lightness( $mainColor, 0.82);
            }
        }
    }

    &--red {
        color: $white;
        border-color: $error;
        background-color: $error;

        &:hover {
            color: $white;
            border-color: $blackred;
            background-color: $blackred;
        }

        &-bordered {
            color: $error;
            border-color: $greyish;
            background-color: transparent;

            &:hover {
                color: $white;
                border-color: $blackred;
                background-color: $blackred;
            }
        }
    }

    &--center{
        margin-right: auto;
        margin-left: auto;
    }
    
    &--disabled {
        @include opacity(.5);
    }

    &--plan {
        min-width:230px;
        max-width:230px;
        @include margin-top(10);
        &.c-button__blue-bordered{
            background-color: unset;
        }
    }
    &--right {
        float:right;
        @include margin-top(20);
    }
    &:focus {
        outline: 0;
    }
    &--disabled{
        border: none;
        background: $grey;
        cursor: unset;
        &:hover{
            background: $grey;
        }
    }
    &--subscribe{
        height: 50px;
        padding-top:   5px;
    }
    &__trial{
        font-size: rem(13);
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: $white;
        text-transform: none;
        margin-top: -7px;
        letter-spacing: 1px;
    }

    &--joinBtn {
        height: 56px;
        @include font-size(22);
        max-width: 184px;
        width: 100%;
        text-transform: inherit;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
    }
}

.c-buttonSet {
    @include flexbox;
    @include align-items(center);
    width: 100%;

    .c-button {
        width: 50%;

        + .c-button {
            margin-left: 10px;
        }
    }
}

/* End header style */