/* Begin page head style */
.c-search {
    &__head {
        @include font-size(26);
        color: $black;
        line-height: 1.23;
        @include margin-bottom(30);
        font-family: var(--sec-font);
        font-style: italic;
        font-weight: $weightBold;
    }
}

#search-load,
.u-loadmore-button {
    @include font-size(16);
    font-weight: $weightBold;
    color: var(--sec-color);
    @include inline-flex;
    text-decoration: none;
    padding-bottom: 2px;
}

/* End page head style */